# Build and deploy package output
vendor
*.deb

node_modules
.nx
dist
data
old-data
infra/hosts
infra/secrets.yml
dev/
.cursor
build
*.tsbuildinfo
packages/pod-idp/.env
packages/*/.rlib/
solidauthr_*.tar.gz
